<%- include('particals/header.ejs') %>

<h2>About Page</h2>

<p>Welcome to our Simple Todo List ! website</p>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita modi, itaque iure temporibus deserunt veritatis
    ipsa debitis perferendis. Cupiditate, nisi?</p>









<%- include('particals/footer.ejs') %>